@media screen and (max-aspect-ratio: 16/10)
  body
    --size-article-block: 60vmin 
  body .wrapper
    width calc(var(--size-article-block) * 2)

@media screen and (max-aspect-ratio: 16/12)
  body
    --size-article-block: 50vmin 

@media screen and (max-aspect-ratio: 16/14)
  body
    --size-article-block: 40vmin 

@media screen and (max-aspect-ratio: 16/17)
  body .wrapper
    width calc(var(--size-article-block) * 1)

  body
    --size-article-block: 90vmin 

