@import './fonts.styl'

forText = "DINPro-Light", Sans
forBigTitle = "Code-Pro-Light", Sans

section
  position relative
  box-sizing border-box
  & h2
    margin 0px

:root
  font-size 16px

html 
  font-family 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  height 100vh
  overflow-y hidden
  word-spacing 1px
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  box-sizing border-box

*,
*:before,
*:after
  box-sizing border-box
  margin 0
  font forText

:root
  --color-active #FA076C
  --color-bg #13111C
  --color-green #91e60a
  --color-blue #04ded4
  --text-font forText

body
  color var(--color-active)
  font-family forText
  padding 0
  margin 0
  background-color var(--color-bg)
  font-size 1.1rem

ul
  padding 0

ul li
  list-style-type none

h1, h2, h3, h4, h5, h6
  font-family forBigTitle, sans

h2 
  font 7vmin forBigTitle, sans
  margin 10px
  text-align center
  position relative
  &:before
    content ""
    display block
    background var(--color-active)
    left 50%
    transform translateX(-50%)
    width 15ch
    height 2px
    position absolute
    bottom 0px
    border-radius 2px
    filter drop-shadow(0 0 3px var(--color-active))

a
  text-decoration none
  color inherit

svg
  width 100%
  height 100%

.center-position
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.position-center
  position: absolute
  left 50%
  top 50%
  transfrom translate(-50%, -50%)

.wrapper
  width calc(var(--size-article-block) * 3)
  margin 0 auto

.router-anim-enter-active
  animation: coming .4s;
  animation-delay: .4s;
  opacity: 0;

.router-anim-leave-active 
  animation going .4s

.container 
  margin 0 auto
  min-height 100vh

@keyframes going {
  to {
    opacity: 0;
  }
}

@keyframes coming {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-enter-active, .fade-leave-active 
  transition .4s opacity

.fade-enter-active 
  transition-delay .4s

.fade-enter, .fade-leave-active 
  opacity 0


.layout-enter-active
  animation slideIn .4s
  animation-delay .4s
  opacity 0

.layout-leave-active 
  animation slideOut .4s

.switch-enter-active, .switch-leave-active 
  transition all .5s

.switch-enter, .switch-leave-to
  transform translate(-100%, -50%)
  opacity 0

.slide-right-enter-active, .slide-right-leave-active 
  transition all .5s

.slide-right-enter, .slide-right-leave-to
  transform translate(100%)

.menu-popover-enter,
.menu-popover-leave-to 
  opacity 0
  transform: perspective(900px) rotate3d(70, 0, 0, -50deg);

.menu-popover-enter-to,
.menu-popover-leave 
  opacity 1
  transform: perspective(900px) rotate3d(0, 0, 0, 0deg);

.menu-popover-enter-active,
.menu-popover-leave-active 
  transition .4s ease-out

.menu-popover-leave-active 
  transition .15s ease-out

@keyframes slideOut {
  to {
    transform: translateX(-100vw)
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw)
  }
  to {
    transform: translateX(0)
  }
}

.wizard-block
  width calc(100% - 12vmin)
  display flex 
  flex-direction column
  justify-content space-around

input
  background none
  border none
  border-bottom 2px var(--color-active) solid
  width 100%
  color var(--colort-active)
  &.error
    border-color red
    color red
  &:focus
    outline none

.wizard-dual
  display flex
  justify-content space-around

.fs-1
  font-size .75rem

.fs-2
  font-size .875rem

.fs-3
  font-size 1rem

.fs-4
  font-size 1.3rem

.fs-5
  font-size 1.5rem

.fs-6
  font-size 1.7rem

.fs-7
  font-size 2rem

.fw-600
  font-weight 600