.background
  width 100%
  height 100%
  background-size cover
  background-position center
  background-repeat no-repeat

.background-image
  position absolute
  overflow hidden
  width 100%
  height 100vh
  transition .5s

.background-center, .background-top, .background-bottom
  width 100%

.background-item
  position absolute

.background-fullscreen
  width 100%
  height 100%
  margin 0

.prllx-block
  position absolute
  width 100%
  height 100%
  & *
    position absolute