#app
  .vc-chrome-body
    background: rgba(0, 0, 0, .9)
  .vc-chrome-fields .vc-input__input
    background rgba(0, 0, 0, .9)
    border 1px solid rgba(255, 255, 255, .4)
    color white
    font-size 0.7rem
    line-height 2
    font-weight bold
    height 24px
    border-radius 4px
    font-family sans