@import './menu.styl'
@import './login.styl'
@import './selector.styl'
@import './checkbox.styl'
@import './settings.styl'
@import './color-selector.styl'
@import './background.styl'

.icon
  width 25px
  height 25px

.center-x
  display flex
  justify-content center