.selector
  padding 4px 8px
  margin-bottom 12px
  border-radius 4px
  border 1px solid var(--color-unfocus)
  color var(--color-unfocus)
  display flex
  align-items center
  justify-content space-between
  cursor pointer
  &:hover
    border-color rgba(255, 255, 255, .8)
    .selector-arrow
      fill rgba(255, 255, 255, .8)
  &.active
    border-color white
    .selector-arrow
      fill white
    .selector-arrow
      transform rotate(-90deg)

.selector-arrow
  fill var(--color-unfocus)
  transform rotate(90deg)
  transition .2s

.selector-icon
  float left
  margin-right 8px

.selector-label
  font-size 1rem
  font-weight 300