.user-settings
  height 100%
  overflow-y auto

.user-settings-themes
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-template-rows repeat(auto-fit, 150px)
  gap 8px

.user-settings-theme
  height 150px
  border-radius 12px
  cursor pointer

.user-settings-tabs
  display flex
  justify-content center 
  align-items center
  margin-bottom 4px
  position sticky
  top 0px
  
.user-settings-tab
  padding 4px 8px
  color white
  cursor pointer
  border-bottom 2px solid transparent
  &.active
    border-bottom 2px solid var(--color-active)

.grid-two
  display grid
  grid-template-columns repeat(2, 1fr)
  gap 12px

.user-settings-custom
  display grid
  grid-template-columns repeat(auto-fit, minmax(200px, 1fr))
  gap 12px