.polygon-body
  width 100%
  height 100%

#polygon
  transform-origin 50% 50%
  & *
    transform-origin 50% 50%

.polygon
  width 75vmin
  height 75vmin

.polygon-path
  fill url('#polygon-gradient')