.time-format
  font-size 10rem
  font-family 'MyWebFont', Sans
  text-align center
  color var(--color-active)
  white-space nowrap
  text-shadow 0 0 0.2em currentColor
  letter-spacing 0.09em

.time-format-subtitle
  text-align center
  font-size 1.5rem
  opacity 0.8
  font-weight 200