.background
  width 100%
  height 100%
  background-size cover
  background-position center
  background-repeat no-repeat

.background-left
  margin-left var(--margin-login)

.background-image
  position absolute
  overflow hidden
  width 100%
  height 100vh
  width calc(100% - var(--margin-login))
  transition .5s

.background-center, .background-top, .background-bottom
  width 100%

.background-item
  position absolute

.background-bottom
  height calc(100vh - var(--login-height))

.background-top
  margin-top var(--login-height)
  height calc(100vh - var(--login-height))

.background-fullscreen
  width 100%
  height 100%
  margin 0

.prllx-block
  position absolute
  width 100%
  height 100%
  & *
    position absolute