.login-transition
  width 100%
  height 100vh
  position relative

.login-view
  --login-width 330px
  padding 12px
  overflow hidden
  position absolute 
  left 50%
  top 50%
  transform translate(-50%, -50%)
  border-radius 20px
  background rgba(0, 0, 0, .4)
  backdrop-filter blur(10px)
  display flex
  flex-direction column
  transition .25s
  width var(--login-width)
  min-width var(--login-width)
  height 230px

.login-empty-title
  position absolute
  bottom 20px
  left 50%
  transform translateX(-50%)
  font-size 2rem
  opacity 0.7

.login-content-settings
  .login-view
    height 50vmin
    width 80vmin
  .user-choice
    margin-bottom 8px
    .user-avatar
      width 60px
      height 60px
      transform none
      margin-bottom 0px
    .user-name
      transform translate(82px, -60px)
      left 0

.user-choice
  margin-bottom 45px

.user-avatar
  border-radius 50%
  transition .25s
  width 120px
  height 120px
  transform translateX(calc(var(--login-width) / 2 - 60px - 12px)) // half login width - half avatar width - half login padding
  background-repeat no-repeat
  background-size cover
  background-position center

.user-name
  color white
  width fit-content
  position absolute
  font-size 1.2rem
  margin-top 15px
  transition .3s
  left 50%
  transform translateX(-50%)

.user-input
  display flex
  align-items center
  margin-top 6px
  input
    background none
    padding 5px 12px
    color white
    margin 0 8px
    border 1px white solid
    transition .15s border
    border-radius 5px
    line-height 25px
    width 100%
    &:focus
      outline none
      border-color var(--color-active)
    &::placeholder
      color white
      opacity .45

.user-input-login
  width 25px
  height 25px
  border-radius 50%
  flex-shrink 0
  padding 0
  background none
  border none
  transition .2s
  svg
    transition .15s
    fill rgba(255, 255, 255, .5)
  &:focus
    outline none
    svg
      fill white


.settings-button
  width 25px
  min-width 25px
  height 25px
  padding 0 
  border 0
  background none
  border-radius 5px
  border 1px solid transparent
  transition .15s
  &:focus
    outline none
    border 1px solid white
    svg
      fill white
  svg
    transition .15s
    fill rgba(255, 255, 255, .5)
