// @import './fonts.styl'

forText = "DINPro-Light", Sans
forBigTitle = "Code-Pro-Light", Sans

::-webkit-scrollbar
  width 4px

/* Track */
::-webkit-scrollbar-track
  background transparent

/* Handle */
::-webkit-scrollbar-thumb
  background var(--color-active)

html 
  font-family 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  height 100vh
  overflow-y hidden
  word-spacing 1px
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  box-sizing border-box

:root
  --color-active #FA076C
  --color-bg #13111C
  --color-green #91e60a
  --color-blue #04ded4
  font-size 16px
  --text-font forText

body
  color var(--color-active)
  font-family forText
  padding 0
  margin 0
  background-color var(--color-bg)
  font-size 1.1rem

ul li, li
  list-style-type none

h1, h2, h3, h4, h5, h6
  font-family forBigTitle, sans

h2 
  font 7vmin forBigTitle, sans
  margin 10px
  text-align center
  position relative
  &:before
    content ""
    display block
    background var(--color-active)
    left 50%
    transform translateX(-50%)
    width 15ch
    height 2px
    position absolute
    bottom 0px
    border-radius 2px
    filter drop-shadow(0 0 3px var(--color-active))

svg
  width 100%
  height 100%

*,
*::before,
*::after
  box-sizing border-box

ul[class],
ol[class]
  padding 0

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd
  margin 0


body
  min-height 100vh
  scroll-behavior smooth
  text-rendering optimizeSpeed
  line-height 1.5

ul[class],
ol[class]
  list-style none

a:not([class])
  text-decoration-skip-ink auto

img
  max-width 100%
  display block

article > * + *
  margin-top 1em

input,
button,
textarea,
select
  font inherit

img:not([alt]) 
  filter blur(10px)

@media (prefers-reduced-motion: reduce)
  *
    animation-duration 0.01ms !important
    animation-iteration-count 1 !important
    transition-duration 0.01ms !important
    scroll-behavior auto !important

section
  position relative
  box-sizing border-box
  & h2
    margin 0px

.center-position
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.mb-3
  margin-bottom 12px

.mr-2
  margin-right 8px

.flex-1
  flex 1

.position-center
  position: absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)

.wrapper
  width calc(var(--size-article-block) * 3)
  margin 0 auto

.router-anim-enter-active
  animation: coming .4s;
  opacity: 0;

.router-anim-leave-active 
  animation going .4s

.container 
  margin 0 auto
  min-height 100vh

.d-flex
  display flex

.ai-center
  align-items center

@keyframes going {
  to {
    opacity: 0;
  }
}

@keyframes coming {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-enter-active, .fade-leave-active 
  transition .4s opacity

.fade-enter-active 
  transition-delay .4s

.fade-enter, .fade-leave-active 
  opacity 0


.layout-enter-active
  animation slideIn .4s
  animation-delay .4s
  opacity 0

.layout-leave-active 
  animation slideOut .4s

.switch-enter-active, .switch-leave-active 
  transition all .5s

.switch-enter, .switch-leave-to
  transform translate(-100%, -50%)
  opacity 0

.slide-right-enter-active, .slide-right-leave-active 
  transition all .5s

.slide-right-enter, .slide-right-leave-to
  position absolute
  transform translate(100%)

.slide-left-enter-active, .slide-left-leave-active 
  transition all .5s

.slide-left-enter, .slide-left-leave-to
  position absolute
  transform translateX(-100%)

.slide-top-enter-active, .slide-top-leave-active 
  transition all .5s

.slide-top-enter, .slide-top-leave-to
  transform translateY(-100%)
  opacity 0

.slide-bottom-enter-active, .slide-bottom-leave-active 
  transition all .5s

.slide-bottom-enter, .slide-bottom-leave-to
  position absolute
  transform translateY(100%)

.slide-out-bottom-enter-active, .slide-out-bottom-leave-active
  position: absolute
  transition: .5s

.slide-out-bottom-enter, .slide-out-bottom-leave-to
  transform translateY(-100%)

.slide-out-bottom-leave-to,
  transform translateY(-100%)

.slide-out-bottom-enter-to
  transform translateY(0%)

.menu-popover-enter,
.menu-popover-leave-to 
  opacity 0
  transform: perspective(900px) rotate3d(70, 0, 0, -50deg);

.menu-popover-enter-to,
.menu-popover-leave 
  opacity 1
  transform: perspective(900px) rotate3d(0, 0, 0, 0deg);

.menu-popover-enter-active,
.menu-popover-leave-active 
  transition .4s ease-out

.menu-popover-leave-active 
  transition .15s ease-out

@keyframes slideOut {
  to {
    transform: translateX(-100vw)
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100vw)
  }
  to {
    transform: translateX(0)
  }
}

.w-100
  width 100%

.widget-interactive
  display flex 
  flex-direction column
  justify-content space-around

input
  background none
  border none
  border-bottom 2px var(--color-active) solid
  width 100%
  color var(--colort-active)
  &.error
    border-color red
    color red
  &:focus
    outline none

.widget-dual
  display flex
  justify-content space-between

.fs-1
  font-size .75rem

.fs-2
  font-size .875rem

.fs-3
  font-size 1rem

.fs-4
  font-size 1.3rem

.fs-5
  font-size 1.5rem

.fs-6
  font-size 1.7rem

.fs-7
  font-size 2rem

.fw-600
  font-weight 600


.icon
  width 10vmin
  height 10vmin
  max-width 9ch
  max-height 9ch
  flex-shrink 0
  fill var(--color-active)

.icon-circle
  background-size cover
  background-repeat no-repeat
  border-radius 50%
  border 2px solid var(--color-active)
