@import './setup.styl'
@import './general.styl'
@import './animations.styl'
@import './themes/index.styl'
@import './components/index.styl'

:root
  --color-active #FA076C
  --color-bg #13111C
  --color-green #91e60a
  --color-blue #04ded4
  --color-unfocus rgba(255, 255, 255, .5)
  --color-focus white
  --login-height: 14vmin
  font-size 16px

::-webkit-scrollbar
  width 4px

/* Track */
::-webkit-scrollbar-track
  background transparent

/* Handle */
::-webkit-scrollbar-thumb
  background var(--color-active)

#app
  &.blur
    .login-view
      backdrop-filter blur(10px)
  &.no-transition
    *
      animation-duration 0.01ms !important
      animation-iteration-count 1 !important
      transition-duration 0.01ms !important
      scroll-behavior auto !important
